.cell{
    background-color: #d0d2d6;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 25px;
}
@media only screen and (max-width: 450px) {
    .cell {
        width: 75px;
        height: 75px;
        font-size: 14px;
        border-radius: 10px;
    }
}